
<div class="dv_wrapper">
    <!-- <app-header></app-header>
<div class="dv_content"> -->
  <app-header-top></app-header-top>
  <div class="dv_sub_category_page">
      <div class="dv_subscategory_wrapper">
        <div class="container">
          <h4 class="dv_subscategory_heading">Total 4 saved address </h4>
          <a routerLink=/new-address"  class="dv_add_another_address">add another address </a>
          <div class="dv_saved_address_list">
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio">
                <div class="dv_saved_address_wrap">
                  <span>Home </span>
                  <p>Default, Mumbai Central Railway Station Building, Mumbai Central, Mumbai, Maharashtra 400008, India </p>
                </div>
              </label>
              <ul class="dv_save_address_delete_edit_ul">
                <li><a href="javascript:void(0);">Edit </a></li>
                <li><a href="javascript:void(0);">Delete </a></li>
              </ul>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio">
                <div class="dv_saved_address_wrap">
                  <span>Home </span>
                  <p>Default, Mumbai Central Railway Station Building, Mumbai Central, Mumbai, Maharashtra 400008, India </p>
                </div>
              </label>
              <ul class="dv_save_address_delete_edit_ul">
                <li><a href="javascript:void(0);">Edit </a></li>
                <li><a href="javascript:void(0);">Delete </a></li>
              </ul>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio">
                <div class="dv_saved_address_wrap">
                  <span>Home </span>
                  <p>Default, Mumbai Central Railway Station Building, Mumbai Central, Mumbai, Maharashtra 400008, India </p>
                </div>
              </label>
              <ul class="dv_save_address_delete_edit_ul">
                <li><a href="javascript:void(0);">Edit </a></li>
                <li><a href="javascript:void(0);">Delete </a></li>
              </ul>
            </div>
          </div>
  
        </div>
      </div>
      <hr class="dv_bottom_space p-t-3" />
    </div>
    
    <div class="dv_footer view_continue_above_modal">
      <div class="container">
        <a href="javascript:void(0);"  class="dv_continue_with">continue </a>
      </div>
    </div>
  </div>
  