<div class="dv_wrapper">
    <app-header></app-header>
    <div class="dv_content">
      <div class="dv_subscategory_wrapper">
        <div class="container">
          <input ngx-google-places-autocomplete  (onAddressChange)="handleAddressChange($event)" type="text" class="form-control dv_enter_location_inputs mt-3" placeholder="Search Location">
          <!-- <ul class="dv_search_location_list">
            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg> Buhaleeba plaza <span>dubai, united arab emirates </span></li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg> Muraqabat road  <span>dubai, united arab emirates </span></li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg> Al baquet center  <span>dubai, united arab emirates </span></li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg> Al Muraqabat Police station  <span>dubai, united arab emirates </span></li>
            <li><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg> Life Pharmacy  <span>dubai, united arab emirates </span> </li>
          </ul> -->
        </div>
      </div>
    </div>
    
    <!-- <div class="dv_footer view_continue_above_modal">
      <div class="container">
        <a href="javascript:void(0);" class="dv_continue_with">save & continue </a>
      </div>
    </div> -->
  </div>