<div class="modal bottom fade" id="privacy-policy" tabindex="-1" role="dialog" aria-labelledby="privacy-policy" style="z-index: 99999;">
    <svg  class="display-mobile"  data-dismiss="modal" style=" position: absolute; top: 8%; width: 30px; right: 15px; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.87 14.87"><circle style="fill:#fff;" cx="7.43" cy="7.43" r="7.43"/><g><line style="fill:none;stroke:#565656;stroke-linecap:round;stroke-linejoin:round;stroke-width:.86px;" x1="10.02" y1="4.85" x2="4.85" y2="10.02"/><line style="fill:none;stroke:#565656;stroke-linecap:round;stroke-linejoin:round;stroke-width:.86px;" x1="4.85" y1="4.85" x2="10.02" y2="10.02"/></g></svg>
    <div   class="modal-dialog border-bottom-radius dv_modal_top_hr dv_date_time_desktop dv_desktop_height_80"   role="document" style="border-radius: 25px 25px 0 0; overflow: hidden;">
      <div class="modal-header display-desktop text-right" style="border-bottom: none !important; padding: 0; height: 60px;"><img src="assets/img/cancel-img.png" data-dismiss="modal" class="display-desktop cursor-pointer" style="z-index: 1; position: absolute; right: 0; top: 6px; cursor:pointer;"></div>
      <div class="modal-content dv_viewmobile_filter_content" style="border-radius: 25px 25px 0 0;">
        <div class="modal-body overflow-auto" style="padding: 0 0 80px 0 !important;">
          <!-- <div class="dv_sub_cat_banners pt-0">
            <ik-image path="assets/img/privacy-policy.jpg" class="w-100"></ik-image>
          </div> -->
          <div class="container  w-100">
            <ul class="mt-2 coupontermsconditions">
              <li>
                Mirrors Institute of Aesthetics is committed to protecting the personal and business information you share and/or store with us. This Privacy Policy applies to transactions and activities and data gathered through the Clients on Mirrors Institute of Aesthetics Website and interactions you may have with its related social media accounts. Please review this Privacy Policy periodically as we may revise it without notice.

              </li>
              </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Information We Collect </h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                We may collect and use personal information for many purposes, including, but not limited to, billing, product, and service fulfillment, understanding customer needs, providing a better website, improving products and services, and communicating with customers and potential customers regarding our products and services with third-party products and services.
              </li>
      
            </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Personally Identifiable Information</h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                We collect personally identifiable information such as name, e-mail address, or contact information unless you choose not share to us. If you voluntarily provide us with personal information, for example by sending an e-mail or by filling out a form and submitting it through our Website, we may use that information only to respond to your message and to help us provide you with the information or services that you request. To the extent that we process your personal information based on your consent, you may withdraw your consent at any time as stated below.
              </li>
      
            </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Account Registration Information
            </h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                In some instances, the use of the Clients on Mirrors Institute of Aesthetics Website and services may require that you disclose certain personal information for identification, including a unique email address and demographic information (including, for example, ZIP code, age, sex, job industry, job title, and income) to register but not compulsory.
              </li>
      
            </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Billing and Credit/Debit Card Information
            </h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                Our Services comprise, generally business coaching webinars, seminars, and materials distributed on a subscription basis. To enable payment, we collect and store name, address, telephone number, email address, credit card information, and other billing information. This information will only be shared with third parties who facilitate the completion of the purchase transaction, such as by fulfilling orders and processing credit card payments.
              </li>
              <li>
                We will not disclose your billing and/or credit card information unless required by law or a court order, or unless disclosure is required to address an issue implicated by the financial transaction. For instance, if you claim that your billing and/or credit card information was used to make a purchase you did not authorize, details about the transaction may be disclosed to law enforcement and any party we deem necessary to address the matter.
              </li>
      
            </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">How We Use Your Information
            </h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                The information we collect is used for a variety of purposes, such as:   
                <ul class="mt-2 coupontermsconditions">
                  <li>To enable your use and fulfill your requests for professional services, features, and products and participate in any marketing activities of Mirrors Institute of Aesthetics through our Website.</li>
                  <li>By performing statistical, demographic, and marketing analyses of users of our services to improve our relationship with our customers.</li>
                  <li>For product development purposes and to generally inform advertisers about the nature of our subscriber base to improve our relationship with our customers.</li>
                  <li>To send you communications to your email, text, or voice mailbox, via telephone, cell phone, or any other delivery method regarding the products or services you may have purchased through this Website. We may also send you information about product or service updates, new features, or information we believe you may find interesting. We may send you information regarding other products and services we offer.</li>
                </ul>
              </li>
           
      
            </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Direct Communication
            </h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                An important aspect of our services includes direct communication with our customers. As a result, we will periodically send you communications regarding the products or services you may have purchased through this Website. We may also send you information about product or service updates, new features, or information we believe you may find interesting. We may send you information regarding other products and services we offer.
              </li>
      
            </ul>
          </div>
        </div>
        <!-- <div class="modal-footer modal-footer-fixed view_continue_above_modal">
          <a data-dismiss="modal" href="javascript:void(0);" class="dv_fullwidth_btn active">Okay got it </a>
        </div> -->
      </div>
    </div>
  </div>