
<div class="modal bottom fade" id="termsncondition" tabindex="-1" role="dialog" aria-labelledby="termsncondition" style="z-index: 99999;">
    <svg  class="display-mobile" data-dismiss="modal" style=" position: absolute; top: 8%; width: 30px; right: 15px; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.87 14.87"><circle style="fill:#fff;" cx="7.43" cy="7.43" r="7.43"/><g><line style="fill:none;stroke:#565656;stroke-linecap:round;stroke-linejoin:round;stroke-width:.86px;" x1="10.02" y1="4.85" x2="4.85" y2="10.02"/><line style="fill:none;stroke:#565656;stroke-linecap:round;stroke-linejoin:round;stroke-width:.86px;" x1="4.85" y1="4.85" x2="10.02" y2="10.02"/></g></svg>
    <div  class="modal-dialog border-bottom-radius dv_modal_top_hr dv_date_time_desktop dv_desktop_height_80"  role="document" style="border-radius: 25px 25px 0 0; overflow: hidden;">
      <div class="modal-header display-desktop text-right" style="border-bottom: none !important; padding: 0; height: 60px;"><img src="assets/img/cancel-img.png" data-dismiss="modal" class="display-desktop cursor-pointer" style="z-index: 1; position: absolute; right: 0; top: 6px; cursor:pointer;"></div>
      <div class="modal-content dv_viewmobile_filter_content" style="border-radius: 25px 25px 0 0;">
        <div class="modal-body overflow-auto" style="padding: 0 0 80px 0 !important;">
          <!-- <div class="dv_sub_cat_banners pt-0">
            <ik-image path="assets/img/terms-privacy-cancellation.jpg" class="w-100"></ik-image>
            
          </div> -->
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Definitions </h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                "Service" refers to the Mirrors Institute of Aesthetics App and Website, including any content, features, and services offered through www.mirrorsbeautylounge.com
              </li>
              <li>"Company" refers to Mirrors Institute of Aesthetics, a company incorporated in Dubai with its addresses at Mezzanine Floor, Saraya Plaza – Al Riqqa Road, Dubai UAE.</li>
              <li>"You" refers to the user of the Service.</li>
            </ul>
          </div>

          
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Purpose </h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                These Terms and Conditions govern the use of the Service and the agreement between You and the Company. These Terms set out the rights and obligations of all users regarding the use of the Service and Your access to and use of the Service is conditioned on Your acceptance of and compliance with these Terms and Conditions.
              </li>
            </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">User Accounts </h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                When You create an account with Us, You must provide accurate, complete, and current information at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of Your account.
              </li>
              <li>You are responsible for safeguarding the password used to access the Service and for any activities or actions taken under Your account. You agree not to disclose Your password to any third party and must immediately notify the Company of any unauthorized use of Your account.</li>
              <li>Usernames may not use the name of another person or entity, a name subject to any rights of another person or entity, or a name that is offensive, vulgar, or obscene.</li>
            </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Booking Flow </h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                The Website allows customers to book services and purchase products through the following steps:
                <ul class="mt-2 coupontermsconditions">
                  <li>Selecting the type of service (Salon for Women, Home Services, or Retail Products)</li>
                  <li>Selecting the location (Al Riqqa, Al Muraqqabat, IBN Battuta Mall, Tecom, or Al Bustan)</li>
                  <li>Selecting the category (Offers & Packages, Hair, Nails & Eyelashes, Spa, Madero, Facial, SPMU, Wax & Bleach, Makeup & Styling, Threading, Henna Design)</li>
                  <li>Choosing the desired services and number of services</li>
                  <li>Viewing the cart and logging/signing up to process the request by selecting a date and time slot</li>
                  <li>Confirming the chosen date and time to proceed to payment</li>
                  <li>Adding a payment method (card or pay after-service)</li>
                  <li>Receiving a booking confirmation via SMS</li>
                  <li>Rescheduling or rebooking the appointment, if desired</li>
                </ul>
            </li>
                </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Content Restrictions</h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                The Company is not responsible for the content posted by users and/or third parties on the Service. You are solely responsible for the content and any activity that occurs under Your account.
              </li>
              <li>You may not transmit any content that is unlawful, offensive, threatening, libelous, defamatory, obscene, or otherwise objectionable, including content that:
                <ul class="mt-2 coupontermsconditions">
                  <li>Promotes unlawful activity</li>
                  <li>Is defamatory, discriminatory, or mean-spirited</li>
                  <li>Is spam or constitutes unauthorized or unsolicited advertising, chain letters, or any form of lottery or gambling</li>
                  <li>Contains viruses, worms, malware, or any other disruptive or damaging content</li>
                  <li>Infringes on any proprietary rights of any party</li>
                  <li>Impersonates any person or entity</li>
                  <li>Violates the privacy of any third party</li>
                  <li>Contains false information</li>
                </ul>
              </li>
              <li>The Company reserves the right to refuse or remove any content that it determines, in its sole discretion, to be inappropriate or in violation of these Terms. The use of the Service is at Your own risk.</li>
            </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Intellectual Property </h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                The Service and its original content, features, and functionality are and will remain the exclusive property of the Company and its licensors and are protected by copyright, trademark, and other laws.
              </li>
              <li>The Company's trademarks and trade dress may not be used without the prior written consent of the Company.</li>
                 </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Termination </h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                The Company may terminate or suspend Your account immediately, without prior notice or liability, for any reason, including a breach of these Terms and Conditions. Upon termination, Your right to use the Service will cease immediately.
              </li>
              <li>You may terminate Your account by discontinuing the use of the Service.</li>
                 </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Changes to These Terms and Conditions </h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                The Company reserves the right to modify or replace these Terms at any time and in its sole discretion. Your continued use of the Service after any revisions become effective constitutes Your agreement to be bound by the revised terms.
              </li>
              <li>If You do not agree to the new terms, in whole or in part, please stop using the website and the Service.</li>
                 </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Privacy Policy
            </h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                Our Privacy Policy describes our policies and procedures on the collection, use, and disclosure of Your personal information when You use the Application or the Website and informs You about Your privacy rights and how the law protects You. Please read Our Privacy Policy carefully before using Our Service.
              </li>

                 </ul>
                 <ul class="mt-2 coupontermsconditions">
                  <li>By accessing or using the Service, You agree to be bound by these Terms and Conditions.</li>
                 </ul>
          </div>



        </div>
        <!-- <div class="modal-footer modal-footer-fixed view_continue_above_modal">
          <a data-dismiss="modal"  href="javascript:void(0);" class="dv_fullwidth_btn active">Okay got it </a>
        </div> -->
      </div>
    </div>
  </div>