<div class="modal bottom fade" id="cancellation-policy" tabindex="-1" role="dialog" aria-labelledby="cancellation-policy" style="z-index: 99999;">
    <svg class="display-mobile" data-dismiss="modal" style=" position: absolute; top: 8%; width: 30px; right: 15px; " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.87 14.87"><circle style="fill:#fff;" cx="7.43" cy="7.43" r="7.43"/><g><line style="fill:none;stroke:#565656;stroke-linecap:round;stroke-linejoin:round;stroke-width:.86px;" x1="10.02" y1="4.85" x2="4.85" y2="10.02"/><line style="fill:none;stroke:#565656;stroke-linecap:round;stroke-linejoin:round;stroke-width:.86px;" x1="4.85" y1="4.85" x2="10.02" y2="10.02"/></g></svg>
    <div class="modal-dialog border-bottom-radius dv_modal_top_hr dv_date_time_desktop dv_desktop_height_80" role="document" style="border-radius: 25px 25px 0 0; overflow: hidden;">
      <div class="modal-header display-desktop text-right" style="border-bottom: none !important; padding: 0; height: 60px;"><img src="assets/img/cancel-img.png" data-dismiss="modal" class="display-desktop cursor-pointer" style="z-index: 1; position: absolute; right: 0; top: 6px; cursor:pointer;"></div>
      <div class="modal-content dv_viewmobile_filter_content" style="border-radius: 25px 25px 0 0;">
        <div class="modal-body overflow-auto" style="padding: 0 0 80px 0 !important;">
          <div class="dv_sub_cat_banners pt-0">
            <ik-image path="assets/img/cancellation-policy.jpg" class="w-100"></ik-image>
            </div>
          <div class="container  w-100">
            <ul class="mt-2 coupontermsconditions">
              <li>
                We understand that sometimes adjustments to your scheduled appointments are necessary. However, to ensure that all our clients receive the services they deserve, we have established the following cancellation policy:
              </li>
              </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Short Cancellation Policy</h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                At Mirrors Institute of Aesthetics, we value each client’s appointment and strive to provide exceptional service. We request that any cancellation or changes to your appointment be made at least <strong>4 hours in advance</strong> to avoid any inconvenience. Failure to provide adequate notice will result in a <strong>charge of 50% of the service amount.</strong> Clients who do not show up for their appointment will be charged 100% of their service amount.
              </li>
      
            </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Salon Late Appointment Policy</h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                We understand that life can be unpredictable and that unexpected delays can occur. We offer a <strong>15-minute grace period for late arrivals.</strong> If you are going to be late, please notify us so that we can adjust your schedule. However, if you are repeatedly late, we will <strong>charge 50% of the service amount</strong> and require you to reschedule your appointment.      </li>
      
            </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Salon Deposit Policy</h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                To ensure that no one misses the opportunity to receive services, we require a deposit of <strong>50% of the service amount for hair extension services.</strong> This deposit will be deducted from the service fee.   </li>
      
            </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Tiered Cancellation Policy</h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                For groups booking service appointments, such as wedding parties, we request at least <strong>72 hours notice for any cancellations or schedule changes.</strong> Cancellations made within this period will result in a <strong>charge of 50% of the service amount per guest.</strong> We ask that you notify us well in advance if you need to change your appointment dates, as larger bookings take a great deal of scheduling and planning.</li>
            </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Salon Cancellation Policy Exceptions</h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                We understand that emergencies do happen and sometimes adjustments are necessary. Members of our Client Loyalty Program will have the service amount cancellation fee waived one time per 12-month period if they need to cancel appointments made within the salon without giving 24-hour notice. However, we ask that you give our staff the maximum notice possible prior to your appointment cancellation, as clients on our waiting list miss the opportunity to receive services.
              </li>
            </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">No-Show Cancellation Policy</h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                Missed appointments are hard on our staff and leave other guests waiting. As per our policies criteria, no-shows will result in a <strong>charge of 100% of the service amount</strong> billed to your credit card. If you have to cancel within this period, please let us know as soon as possible.
                    </li>
            </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Dispute and Refund Policy – Retail and Services</h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                At Mirrors Institute of Aesthetics, we strive to provide exceptional service and products. If you have any issues with our services or retail products, we honor any types of disputes and settled them by converting the refund(s) to another service in lieu of a cash refund. The retail product is allowable to exchange within 14 days, as per UAE law, provided that the products are unopened and intact.
              </li>
            </ul>
          </div>
          <div class="container  w-100">
            <h4 _ngcontent-vau-c89="" style=" font-size: 18px; font-family: 'OpenSauceOneBold'; border-bottom: 1px solid #ebebeb; padding: 15px 0; margin: 0; ">Right to Refuse Service Cancellation Policy</h4>
            <ul class="mt-2 coupontermsconditions">
              <li>
                The safety of our staff and clients is our top priority. As such, we reserve the right to refuse service to anyone who we feel poses a health or safety risk. This includes but is not limited to lice, skin infections, open wounds, contagious illnesses such as a new, continuous cough or a fever, or rude or obnoxious behavior. We appreciate your understanding.
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="modal-footer modal-footer-fixed view_continue_above_modal">
          <a data-dismiss="modal" href="javascript:void(0);" class="dv_fullwidth_btn active">Okay got it </a>
        </div> -->
      </div>
    </div>
  </div>